*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	font-size: 1rem;
	font-family: 'Roboto','Poppins',Arial,sans-serif;
}

.content{
	padding: 12vh 12vw;
}



.view-box{
	height: 80vh;
	width: 80vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #000;
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
}













