html, body{
    height: 100%;
}

body{
    background-color: #FFC857;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.board{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    font-size: 50px;
    text-align: center;
    line-height: 95px;
    cursor: pointer;
    user-select: none;
}
.cell:nth-child(3n){
    border-right: none;
}
.cell:nth-child(n+7){
    border-bottom: none;
}

.cell.highlight{
    background-color: #f7b32c;
}