body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 211, 161);
}

.cookie-consent-modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: flex-end;
}
.cookie-consent-modal.active{
    display: flex;
}
.content{
    background-color: #fff;
    padding: 5vw 3vw;
    border-radius: 10px 10px 0 0;
}

.btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}
.btn{
    border: none;
    outline: none;
    padding: .8em 1.5em;
    width: 100px;
    margin-right: 1em;
    border-radius: 3px;
    text-transform: uppercase;
}
.btn.accept{
    background-color: rgb(0, 185, 124);
    color: #fff;
}